
/* =========== GLOBAL RESET =========== */

	* {
		margin: 0;
		padding: 0;
		text-align: center;
	}





/* =========== DOC RESET =========== */

	html {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body {
		color: #333;
		font-family: Georgia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", serif;
	
	}





/* =========== FONT CLASSES =========== */

	.center-text {
		text-align: center;
	}

	.weight-700 {
		font-weight: 700;
	}

	.sans-serif {
		font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	}

	.monospace {
		font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	}


/* =========== ANCHOR LINKS =========== */

	.link {
		text-decoration: none;
		color: #3498db;
	}
	.link:hover {
		color: #2574A9;
	}





/* =========== PAGE TOP GRADIENTS =========== */

	.top-gradient {
		position: fixed;
		width: 100%;
		height: 30px;
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(90%, rgba(255,255,255,0.1)), color-stop(100%, rgba(255,255,255,0)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
	}

	.top-gradient-2 {
		display:none;
		position: fixed;
		width: 100%;
		height: 40px;
		top: 110px;
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(90%, rgba(255,255,255,0.1)), color-stop(100%, rgba(255,255,255,0)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
		z-index: 99999;
	}

	.top-gradient-3 {
		display:none;
		position: fixed;
		width: 100%;
		height: 40px;
		top: 110px;
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(90%, rgba(255,255,255,0.1)), color-stop(100%, rgba(255,255,255,0)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
		z-index: 99999;
	}





/* =========== LEFT NAVIGATION SIZING & POSITIONING =========== */

	nav {
		 position: fixed;
		 width: 28%;
		 height: 10px;
		 float: left;
	 }





/* =========== LEFT NAVIGATION STYLING =========== */

		#nav-container {
			margin: 62px auto 0 auto;
			width: 70%;
		}

			#nav-dp-band {
				width: 100%;
				height: 90px;
			}

			#nav-title-band {
				width: 100%;
				text-align: left;
			}

			#header-title {
				font-size: 1.8em;
			}

			#nav-list {
				list-style-type: none;
				width: 80%;
				margin: 70px auto 140px auto;
			}

				.nav-list-items {
					margin-bottom: 40px;
					text-align: left;
				}

					.nav-list-links {
						text-decoration: none;
						color: #666;
						font-size: 14px;
						padding: 8px 8px 8px 0;
					}

					.nav-list-links:hover {
						color: #000;
						font-size: 14px;
					}


					.active-nav-link {
						color: #000;
						border-left: 1px solid #000;
						padding-left: 10px;
					}

						#transation-links {
							font-size: 12px;
							margin: 0 auto 0 10%;
						}

							.seperator {
								color: #ccc;
							}





/* =========== RIGHT PAGE =========== */

	.page {
		/*display: none;*/
		width: 72%;
		height: 10px;
		float: right;
	}

		.page-container {
			width: 90%;
			margin: 0 auto 120px auto;
		}

		.page-content {
			width: 90%;
			margin-top: 60px;
		}

		.copy-text {
			font-size: 18px;
			line-height: 38px;
		}





/* =========== SECTION =========== */

		.section-header {
			font-size: 16px;
			text-align: left;
			margin-bottom: 60px;
			font-weight: 700;
			font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
		}
			.section-list {
				/*list-style-type: none;*/
				font-size: 18px;
				margin-left:2.5%;
			}
				.section-list-items {
					margin-bottom: 24px;
				}

		.section-seperator {
			height: 1px;
			background: #ccc;
			margin-top: 80px;
			margin-bottom: 80px;
		}
		.mini-section-seperator {
			height: 1px;
			background: #ccc;
			margin-top: 40px;
			margin-bottom: 40px;
		}

#intro-text {
	font-size: 18px;
	line-height: 38px;
}


		#resource-list {
			margin-top: 40px;
			font-size: 16px;
			margin-left: 20px;
		}

		.book-list {
			margin-left: 20px;
		}
			.book-list-items {
				margin-bottom: 40px;
			}

			.book-list-text-highlight {

			}

		.publication-list {
			margin-left: 20px;
		}
		.publication-list-items {
			margin-bottom: 40px;
			line-height: 24px;
		}

	#hamburger-menu-container {
		z-index: 999999;
		display: none;
	}


	#research-domain-list{
		list-style-type: none;
		font-size: 12px;
		font-weight: 700;
		margin-bottom: 80px;
		background: white;
	}

	#research-domain-list > li {
		display: inline-block;
		width: 24%;
	}


	.hide-initially {
		display: none;
	}

	#projects-list{
		list-style-type: none;
		font-size: 12px;
		font-weight: 700;
		margin-bottom: 80px;
		background: white;
	}

	#projects-list > li {
		display: inline-block;
		width: 24%;
		text-align: left;
	}

	.link-active {
		color: #2574A9;
		border-bottom: 2px solid #2574A9;
		padding-bottom: 10px;
	}

	.project-content-header-box {
		display: inline-block;
		width: 50%;
	}
	#project-header {
		margin-bottom: 50px;
	}

	#project-modal-close {
		position: absolute;
		top: 5%;
		right: 5%;
		text-decoration: none;
		color: #333;
		font-size: 22px;
		margin-top: 20px;

	}

	#projects-container {
		text-align: left;
	}

	.project-img-container {
		width: 100%;
		margin-bottom: 20px;
	}
		#project-modal-close:hover {
			color: red;
		}

		#project-content-project-desc {
		}

		.project-images {
			width: 100%;
			height: auto;
			background: #cccccc;
		}
		.mention {
			color: #3498db;
		}

		.award {
			color: goldenrod;
		}

		.honour-text {
			font-size: 12px;
		}

		.fixit {
			position: fixed;
			width: 70%;
			top: 0px;
			height: 45px;
			padding-top: 70px;
			z-index: 99999;
		}

		#project-img-master-container {
			margin-bottom: 120px;
		}

	.project-container-link {
		display: inline-block;
		width: 32%;
		/*margin-bottom: 1.5%;*/
		background: #ccc;
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
		transition: all 0.5s;
		overflow:hidden;
		text-align: center;
		text-decoration: none;
	}

		.project-container-link:hover {
			transform: scale(1.0125);
			filter: grayscale(0%);
			-webkit-filter: grayscale(0%);
		}
			.project-name {
				transition: all 0.5s;
			}
			.project-container-link:hover > .project-name {
				display: block;
				transform: scale(1.025);
			}

	.end {
		margin-right: 0;
	}
		.project-name {
			display: none;
		}

		.project-name-text {
			color: #333;
			background: white;
			padding: 20px 20px 10px 20px;
		}



	.carousel-projects {
		background: yellow;
	}

	.carousel-thumbnail {
		width: 340px;
		height: 340px;
	}

	.scrolling-carousel-thumbnail {
		width: 90%;
		margin-bottom: 10px;
	}

	.carousel-project-link {
		width: 90%;
		margin-bottom: 10px;
		border: 0;
	}
		.carousel-project-link:active {
			outline: none;
		}

		.carousel-project-link:focus {
			outline: none;
		}

	.carousel-project-link {
		text-decoration: none;
		color: #333;
	}

	.carousel-thumbnail-container {
		text-align: center;
	}


	#project-modal-container {
		position: absolute;
		display:none;
		width: 100%;
		background: white;
		top: 0;
		left: 0;
		z-index: 999999999;
		padding-bottom: 100px;
		padding-bottom: 200px;
	}

	#project-modal-content {
		width: 90%;
		margin: 50px auto 80px auto;
		height: 10px;
	}


#loader {
	position: absolute;
	display:none;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	opacity: 0.95;
	z-index: 9999999999999;
}
	/* =========== MOBILE CSS =================== */

	@media only screen and (max-width: 768px) {
		.project-container-link {
			display: block;
			background: #ccc;
			filter: grayscale(0%);
			-webkit-filter: grayscale(0%);
			transition: all 0.5s;
			overflow:hidden;
			text-align: center;
			text-decoration: none;
			width: 100%;
			margin-bottom: 40px;
		}

	}

	@media only screen and (max-width: 640px) {

		.section-list {
			font-size: 18px;
			margin-left:7.5%;
		}

		nav {
			width: 100%;
			height: 100vh;
			background: #fff;
			z-index: 999999;
			display: none;
		}

		.nav-list-links {
			font-size: 1.2em;
		}
			.nav-list-links:active {
				font-size: 1.2em;
			}

		.page {
			width: 100%;
			margin: 30px auto;
		}

		.page-content {
			width: 95%;
			margin: 0 auto;
			margin-top: 60px;
		}


		#hamburger-controls {
			position: absolute;
			height: 30px;
			margin: 30px auto 30px auto;
			right: 30px;
		}

		#intro-text {
			font-size: 18px;
			line-height: 42px;
		}

		#nav-container {
			margin: 70px auto 0 auto;
			width: 90%;
		}

		#nav-list {
			list-style-type: none;
			width: 80%;
			margin: 40px auto 30px auto;
		}
			#transation-links {
				font-size: 16px;
				margin-left: 10%;
			}


		.c-hamburger {
			display: block;
			position: relative;
			overflow: hidden;
			margin: 0;
			padding: 0;
			width: 70px;
			height: 50px;
			font-size: 0;
			text-indent: -9999px;
			appearance: none;
			box-shadow: none;
			border-radius: none;
			border: none;
			cursor: pointer;
			transition: background 0.3s;
			background: #fff;
		}

		.c-hamburger:focus {
			outline: none;
		}

		.c-hamburger span {
			display: block;
			position: absolute;
			top: 24px;
			left: 18px;
			right: 18px;
			height: 2px;
			background: #333;
		}

		.c-hamburger span::before,
		.c-hamburger span::after {
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #333;
			content: "";
		}

		.c-hamburger span::before {
			top: -12.5px;
		}

		.c-hamburger span::after {
			bottom: -12.5px;
		}

		.c-hamburger--htla {

		}

		.c-hamburger--htla span {
			transition: transform 0.3s;
		}

		.c-hamburger--htla span::before {
			transform-origin: top right;
			transition: transform 0.3s, width 0.3s, top 0.3s;
		}

		.c-hamburger--htla span::after {
			transform-origin: bottom right;
			transition: transform 0.3s, width 0.3s, bottom 0.3s;
		}

		/* active state, i.e. menu open */
		.c-hamburger--htla.is-active {

		}

		.c-hamburger--htla.is-active span {
			transform: rotate(180deg);
		}

		.c-hamburger--htla.is-active span::before,
		.c-hamburger--htla.is-active span::after {
			width: 50%;
		}

		.c-hamburger--htla.is-active span::before {
			top: 0;
			transform: translateX(18px) translateY(1px) rotate(45deg);
		}

		.c-hamburger--htla.is-active span::after {
			bottom: 0;
			transform: translateX(18px) translateY(-1px) rotate(-45deg);
		}

		#hamburger-menu-container {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			background: white;
			height: 70px;
			z-index: 9999999;
		}


		#hamburger-content-band {
			width: 94%;
			margin: 0 auto;
			margin-top: 15px;
		}

		#hamburger-menu {
			float: right;
		}

		.mobile-dropdown-nav {
			float: left;
			width: 52.5%;
			padding: 15px 0 10px 0;
			margin-left: 10px;
			border:0;
			border-bottom: 1px solid #ccc;
			border-radius: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: url("img/ico/down-arrow.svg") no-repeat;
			background-position: 99% 16px;
			background-size: 12px;

		}

		.top-gradient {
			top: 70px;
		}
			.top-gradient-2 {
				display: none;
				top: 70px;
			}

		.top-gradient-3 {
			display: none;
			top: 70px;
		}

			#research-domain-list {
				display: none;
			}

			#projects-list {
				display: none;
			}

		.project-container-link {
			display: block;
			background: #ccc;
			filter: grayscale(0%);
			-webkit-filter: grayscale(0%);
			transition: all 0.5s;
			overflow:hidden;
			text-align: center;
			text-decoration: none;
			width: 100%;
			margin-bottom: 40px;
			-webkit-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.09);
			-moz-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.09);
			box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.09);
		}


		.project-name {
			display: block;

		}

		.project-content-header-box {
			width: 80%;
		}
	}
